<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <logger name="org.eclipse.jetty" level="INFO" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n){INFO=blue}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>